@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body {
    font-family: "Roboto Mono", monospace;
    color: aliceblue !important;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

.side-hide-but{
    background-color: rgba(0, 0, 0, 0.3);
    color: aliceblue !important;
    border: none;
}

.side-hide-but:hover, side-hide-but:active, side-hide-but:focus{
    background-color: #456882 !important;
    color: aliceblue !important;
    border: none;
}

.sidebar-title {
    font-family: "Roboto Mono", monospace;
    font-weight: 500;
    color: aliceblue !important;
    text-decoration: none;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    font-size: 120%;
    width: 300px;
    border-radius: 0 !important;
    text-align: left;
}

.sidebar-main {
    color: aliceblue !important;
    background-color: #223542 !important;
    width: 300px;
    padding-top: 15px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4) inset;
}

.sidebar-item {
    color: aliceblue !important;
    text-decoration: none;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.col-sm-1 {
    padding: 0;
}

.mini-search {
    height: 40px !important;
    padding: 0;
}

.btn-outline-success {
    outline: none;
    cursor: pointer;
    border: none;
    padding-left: 3rem;
    padding-right: 3rem;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    position: relative;
    display: inline-block;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 17px;
    border-radius: 10px !important;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.3);
    color: aliceblue !important;
}

.btn-outline-success:focus {
    outline: none;
    cursor: pointer;
    border: none;
    padding-left: 3rem;
    padding-right: 3rem;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    position: relative;
    display: inline-block;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 17px;
    border-radius: 10px !important;
    overflow: hidden;
    background-color: #456882 !important;
    color: aliceblue !important;
}

.btn-outline-success:active {
    outline: none;
    cursor: pointer;
    border: none;
    padding-left: 3rem;
    padding-right: 3rem;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    position: relative;
    display: inline-block;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 17px;
    border-radius: 10px !important;
    overflow: hidden;
    background-color: #456882 !important;
    color: aliceblue !important;
}

.btn-outline-success:hover {
    outline: none;
    cursor: pointer;
    border: none;
    padding-left: 3rem;
    padding-right: 3rem;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    position: relative;
    display: inline-block;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 17px;
    border-radius: 10px !important;
    overflow: hidden;
    background-color: #456882 !important;
    color: aliceblue !important;
}

.card,
card-body,
card-subtitle,
text-body-secondary {
    background-color: #22354277;
    font-family: "Roboto Mono", monospace;
    color: aliceblue !important;
    border: none;
}

.card2,
card-body2,
card-subtitle2,
text-body-secondary2 {
    font-family: "Roboto Mono", monospace;
    color: aliceblue !important;
    border: none;
}

.main-text {
    margin-top: 100px;
}

.main-text-mini {
    font-weight: 100;
}

.logo {
    height: 50px;
}

.center {
    margin: auto;
    text-align: center;
    padding-right: 200px;
}

.homebody {
    background-image: url(../assets/images/home_bck.png);
    background-repeat: no-repeat;
    background-color: rgb(9, 17, 30);
}

.homebody2 {
    background-image: url(../assets/images/home_bck_flip.png);
    background-repeat: no-repeat;
    background-color: rgb(9, 17, 30);
}

.footer {
    background-color: #223542 !important;
    color: aliceblue !important;
}

.colored-text {
    color: #456882;
}

/* Gomb szarságok */
.button-home {
    cursor: pointer;
    border: none;
    padding: 0.9rem 2rem;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    position: relative;
    display: inline-block;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 17px;
    border-radius: 10px !important;
    overflow: hidden;
    background-color: #223542;
    color:  aliceblue !important;
}

.button-home:hover {
    cursor: pointer;
    border: none;
    padding: 0.9rem 2rem;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    position: relative;
    display: inline-block;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 17px;
    border-radius: 10px !important;
    overflow: hidden;
    background-color: #456882;
    color: aliceblue !important;
}

.button-home span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
}

.button-home:hover span {
    color: aliceblue !important;
}

.button-home::before,
.button-home::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.button-home::before {
    content: "";
    background-color: #223542;
    width: 140%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.button-home:hover::before {
    transform: translate3d(100%, 0, 0);
    border: none;
}

/* grand prize tutorial code */
.sidebar-main {
    width: 300px;
    height: 100vh;
    background-color: #f8f9fa;
    overflow-y: auto;
    padding: 15px;
    transition: transform 0.3s ease;
}

.sidebar-collapsed {
    transform: translateX(-100%);
}

.content-wrapper {
    margin-left: 300px;
    transition: margin-left 0.3s ease;
}

.content-full {
    margin-left: 0;
}

.toggle-btn {
    top: 10px;
    left: 10px;
    z-index: 1050;
}

.posts{
    width: 60%;
    margin: auto;
}

.post-div{
    background-color: #223542;
    color: aliceblue !important;
    text-decoration: none;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    padding: 15px;
}

.message{
    margin: 15px;
    background-color: rgba(255, 255, 255, 0.052);
    color: aliceblue !important;
    padding: 15px;
}














/* Tomi része */

.logo {
    height: 50px;
}

.center {
    margin: auto;
    text-align: center;
    padding-right: 200px;
}

.navbar {
    background-color: #223542 !important;
}

.nav-link {
    color: aliceblue !important;
    margin-left: 25px;
    margin-right: 25px;
}

.footer {
    background-color: #223542;
    color: aliceblue;


}

.footerul li {
    display: inline;

}

.footerul img {
    height: 24px;
    width: 24px;
}

.footerul2 {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.cardft {
    background: #223542;
}

.footerul2 a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;

    display: inline-block;
    padding: 15px 20px;
    position: relative;
}

.footerul2 a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.footerul2 a:hover:after {
    width: 100%;
    left: 0;
}

@media screen and (max-height: 300px) {
    ul {
        margin-top: 40px;
    }
}

.doltszovegpolicy{
    font-style: italic;
    font-size: small;
}
.policy{
    color: #223542;
    margin-top: 100px;
    margin-bottom: 100px;
}
.justify{
    text-align: justify;
}
.policymain{
    text-shadow: none;
}
.policymain li{
    margin-left: 25px;
}


.pbold{
    font-weight: bold;
}

.plink{
    text-decoration: none;
}





.buttonxdxd {
    --color: #1E2235;
    --color-hover: #1E2235;
    --color-active: #fff;
    --icon: #BBC1E1;
    --icon-hover: #8A91B4;
    --icon-active: #fff;
    --background: #fff;
    --background-hover: #fff;
    --background-active: #362A89;
    --border: #E1E6F9;
    --border-active: #362A89;
    --shadow: #{rgba(#001177, .025)};
    display: block;
    outline: none;
    cursor: pointer;
    position: relative;
    border: 0;
    background: none;
    padding: 8px 20px 8px 24px;
    border-radius: 9px;
    line-height: 27px;
    font-family: inherit;
    font-weight: 600;
    font-size: 14px;
    color: var(--color);
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    transition: color .2s linear;
    &.dark {
        --color: #F6F8FF;
        --color-hover: #F6F8FF;
        --color-active: #fff;
        --icon: #fff;
        --icon-hover: #fff;
        --icon-active: #fff;
        --background: #223542;
        --background-hover: rgba(0, 0, 0, 0.35);
        --background-active: #223542;
        --border: transparent;
        --border-active: transparent;
        --shadow: #{rgba(#001177, .16)};
    }
    &:hover {
        --icon: var(--icon-hover);
        --color: var(--color-hover);
        --background: var(--background-hover);
        --border-width: 2px;
    }
    &:active {
        --scale: .95;
    }
    &:not(.liked) {
        &:hover {
            --hand-rotate: 8;
            --hand-thumb-1: -12deg;
            --hand-thumb-2: 36deg;
        }
    }
    &.liked {
        --span-x: 2px;
        --span-d-o: 1;
        --span-d-x: 0;
        --icon: var(--icon-active);
        --color: var(--color-active);
        --border: var(--border-active);
        --background: var(--background-active);
    }
    &:before {
        content: '';
        min-width: 103px;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        border-radius: inherit;
        transition: background .2s linear, transform .2s, box-shadow .2s linear;
        transform: scale(var(--scale, 1)) translateZ(0);
        background: var(--background);
        box-shadow: inset 0 0 0 var(--border-width, 1px) var(--border), 0 4px 8px var(--shadow), 0 8px 20px var(--shadow);
    }
    .hand {
        width: 11px;
        height: 11px;
        border-radius: 2px 0 0 0;
        background: var(--icon);
        position: relative;
        margin: 10px 8px 0 0;
        transform-origin: -5px -1px;
        transition: transform .25s, background .2s linear;
        transform: rotate(calc(var(--hand-rotate, 0) * 1deg)) translateZ(0);
        &:before,
        &:after {
            content: '';
            background: var(--icon);
            position: absolute;
            transition: background .2s linear, box-shadow .2s linear;
        }
        &:before {
            left: -5px;
            bottom: 0;
            height: 12px;
            width: 4px;
            border-radius: 1px 1px 0 1px;
        }
        &:after {
            right: -3px;
            top: 0;
            width: 4px;
            height: 4px;
            border-radius: 0 2px 2px 0;
            background: var(--icon);
            box-shadow: -.5px 4px 0 var(--icon), -1px 8px 0 var(--icon), -1.5px 12px 0 var(--icon);
            transform: scaleY(.6825);
            transform-origin: 0 0;
        }
        .thumb {
            background: var(--icon);
            width: 10px;
            height: 4px;
            border-radius: 2px;
            transform-origin: 2px 2px;
            position: absolute;
            left: 0;
            top: 0;
            transition: transform .25s, background .2s linear;
            transform: scale(.85) translateY(-.5px) rotate(var(--hand-thumb-1, -45deg)) translateZ(0);
            &:before {
                content: '';
                height: 4px;
                width: 7px;
                border-radius: 2px;
                transform-origin: 2px 2px;
                background: var(--icon);
                position: absolute;
                left: 7px;
                top: 0;
                transition: transform .25s, background .2s linear;
                transform: rotate(var(--hand-thumb-2, -45deg)) translateZ(0);
            }
        }
    }
    .hand,
    span {
        display: inline-block;
        vertical-align: top;
        span {
            opacity: var(--span-d-o, 0);
            transition: transform .25s, opacity .2s linear;
            transform: translateX(var(--span-d-x, 4px)) translateZ(0);
        }
    }
    & > span {
        transition: transform .25s;
        transform: translateX(var(--span-x, 4px)) translateZ(0);
    }
}

html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

* {
    box-sizing: inherit;
    &:before,
    &:after {
        box-sizing: inherit;
    }
}
