.logo{
    height: 50px;
}

.center{
    margin: auto;
    text-align: center;
    padding-right: 200px;
}

.navbar{
    background-color: #223542 !important;
}

.nav-link{
    color: aliceblue !important;
    margin-left: 25px;
    margin-right: 25px;
}
































.footer{
    background-color: #223542;
    color: aliceblue;


}
.footerul li{
    display: inline;

}
.footerul img{
    height: 24px;
    width: 24px;
} 

.footerul2{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.cardft{
    background: #223542;
}
.footerul2 a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}
.footerul2 a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.footerul2 a:hover:after { 
  width: 100%; 
  left: 0; 
}
@media screen and (max-height: 300px) {
	ul {
		margin-top: 40px;
	}
}
/* 

.footerul2 a{
    text-decoration: none;
    color: white;
    font-size: larger;
}
.footerul2 a:hover{
    color: aliceblue;
    text-decoration: underline;
} */


